header {
    padding: 15px;
    font-size: 30px;
}

.btn {
    background-color: blue;
    color: white;
}

.hidden {
    visibility: hidden;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}